body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
}

section {
    text-align: center;
    margin: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

#respuesta {
    margin-top: 20px;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 10px;
}

.col {
    border: 1px solid #dee2e6;
    padding: 10px;
}

#lblError {
    color: red;
    font-weight: bold;
}