body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contenido{
    justify-content: center;
    text-align: center;
    display: grid;
}

center {
    text-align: center;
    margin: 10px;
}

h6 {
    color: #555;
}

h3 {
    color: #777;
}

hr {
    border: 1px solid #ccc;
    width: 80%;
}

.links {
    margin-top: 20px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

/* Estilos específicos para el pie de página */
footer h3 {
    margin: 0;
    color: #777;
}

.contenedorPracticas, .contenedorPreexamen{
    display: flex;
    flex-direction: row;
    justify-items: center;
    text-align: center;
}

.card{
    align-items: center;
    text-align: center;
    margin: 20px;
    border-color: blue;
}
