body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

center {
    margin-top: 20px;
}

h1 {
    color: black;
}

button {
    background-color: green;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: violet;
    color: #fff;
}

.columna1 {
    width: 30%;
}

.columna2 {
    width: 20%;
}

.columna3 {
    width: 50%;
}



