/* Estilos específicos para la sección de resultados */
#respuesta {
    margin-top: 20px;
}

.container {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.row {
    display: flex;
    justify-content: center;
}

.col {
    flex: 1;
    padding: 5px;
    text-align: center;
}

/* Estilos para el mensaje de error */
#lblError {
    color: red;
    margin-top: 10px;
}
