/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 0;
}

#contenido {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

/* Estilos para el formulario de búsqueda */
#formBuscar {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#btnLimpiar {
    background-color: red;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#btnBuscar{
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#btnBuscar:hover {
    background-color: #45a049;
}

#btnLimpiar:hover {
    background-color: rgb(255, 30, 30);
}

/* Estilos para el formulario de rellenar */
#formRellenar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

/* Estilos específicos para el formulario de domicilio */
#domCalle,
#domNum,
#domCiudad {
    width: calc(100% - 10px);
    margin-right: 10px;
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
    #formRellenar {
        grid-template-columns: 1fr;
    }

    #domCalle,
    #domNum,
    #domCiudad {
        width: 100%;
        margin-right: 0;
    }
}
