body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: chocolate;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.titulo {
    margin: 0;
    font-size: 2em;
}

.subtitulo {
    margin: 0;
    font-size: 1.2em;
}

.contenedor {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#conSele {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#conImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
#conBtnImg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
  #conImg img {
    max-width: 100%;
    max-height: 100%;
  }

/* Estilos adicionales para mejorar la apariencia del botón */
#btnVerImg:hover {
    background-color: rgb(54, 209, 54);
}

#btnVerImg:active {
    background-color: rgb(45, 216, 45);
}
